@page "/"
@using Kon.BillingBash.Application
@using Kon.BillingBash.Application.Dtos
@using Volo.Abp.Application.Dtos
@using Volo.Abp.MultiTenancy
@inherits BillingBashComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container">
	<div>
		@if (_items?.Items.Count > 0)
		{
			<div align="center">
				<table>
					<thead>
						<tr>
							<th>名称</th>
							<th>价格</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in _items.Items)
						{
							<tr>
								<td>@item.Name</td>
								<td>@((Convert.ToDouble(item.Price) / 100).ToString("0.00"))</td>
								<td>@item.Comment</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}

	</div>
</div>

@code
{
	private PagedResultDto<ItemDto>? _items;

	public string NameFilter { get; set; } = string.Empty;

	private IItemAppService ItemAppService => LazyGetRequiredService(ref _itemAppService)!;
	private IItemAppService? _itemAppService;

	protected override async Task OnInitializedAsync()
	{
		_items = await ItemAppService.GetListAsync(new GetItemsInput());
	}
}
