@using Microsoft.AspNetCore.Mvc.Localization
@using Kon.IdentityService.Localization
@inject IHtmlLocalizer<IdentityServiceResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
